@import '../variables.scss';

.table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;

  td,
  th {
    border: 1px solid $border;
    padding: 8px;
  }

  th {
    background-color: $border;
    color: $white;
    border: 1px solid $white;
  }

  td {
    border: 1px solid $border;
  }
}
