.searchText {
  margin-top: 32px;
  margin-bottom: 24px;
}

.tableContainer {
  display: flex;
  flex-direction: column;
  width: 60%;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.table {
  margin: 24px 0;

  tr {
    height: 40px;
  }

  th:first-child {
    width: 80%;
  }
}

.loading,
.error {
  margin: 24px;
  font-size: 16px;
  font-weight: 600;
}
